body {
	background-color: rgb(240, 240, 240);
	background-image: url('https://i2-prod.cornwalllive.com/news/cornwall-news/article410595.ece/ALTERNATES/s1200/GordonRamsay.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
}

#titre{
  background-color: rgb(255, 163, 75);
  padding: 15;
  font-family: "Montserrat";
}

#piedDePage{
  background-color: rgb(111, 85, 67);
  color: lightGrey;
	margin-top: 1000px;
}

#menu{
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(210,180,140);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 63px 50px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

li a:hover {
  background-color: rgb(236, 199, 141);
}

#section{
  font-family: 'Arimo', sans-serif;
  float:left;
  margin-left: 10px;
  height: auto;
  font-size: 24px;
}

#imgGordon{
  font-family: 'Arimo', sans-serif;
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

#restoMaps{
	font-size: 20px;
	font-family: 'Arimo', sans-serif;
	position: absolute;
	margin-left: 225px;
	margin-top: 250px;
}

#imgInsta{
	position: absolute;
	margin-left: 250px;
	margin-top: 905px;
}

#imgInsta:hover{
	transform: scale(1.3, 1.3);
}

#imgFacebook{
	position: absolute;
	margin-left: 325px;
	margin-top: 886px;
}

#imgFacebook:hover{
	transform: scale(1.3, 1.3);
}

#imgTwitter{
	position: absolute;
	margin-left: 437px;
	margin-top: 899px;
}

#imgTwitter:hover{
	transform: scale(1.3, 1.3);
}
